# build
dist/
.output/
.astro/

# deps
node_modules/

# env
.env
.env.*
!.env.example

# so
.DS_Store
Thumbs.db

# editores
.vscode/*
!.vscode/extensions.json
.idea/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
